# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# PyInstaller
build/
dist/
output/
*.spec

# Inno Setup
instalador/
Output/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp